* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0A1C3A;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 4px;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.icons a:hover {
    color: #ddd;
}



.carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-inner {
    display: flex;
    width: 400%;
    animation: slide 16s infinite;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
}

.carousel-item img {
    width: 30%;
    height: 100%;
    display: block;
}

/* Animación para hacer el carrusel */
@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}