* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #0a0a2a;
  color: #f1f1f1;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  width: 1200px;
  margin: auto;
  background-color: #1a1a40;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.column {
  flex: 1;
  min-width: 400px;
  padding: 30px;
  text-align: justify;
}

.image-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111133;
}

.image-column img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 15px;
  transition: transform 0.3s;
}

.image-column img:hover {
  transform: scale(1.05);
}

.synopsis-column {
  padding: 30px;
}

.synopsis-column h1 {
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  color: #58a6ff;
}

.synopsis-column p {
  line-height: 1.8;
  font-size: 18px;
}

#info-adicional {
  list-style: none;
  margin-top: 20px;
}

#info-adicional li {
  margin-bottom: 15px;
  font-size: 18px;
}

#info-adicional strong {
  color: #58a6ff;
}

#info-adicional i {
  margin-right: 10px;
  color: #4e4edc;
}

/* Estilos para los horarios */
.horarios {
  margin-top: 30px;
}

.horarios h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #f1f1f1;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.horario {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1a1a40;
  border: 1px solid #4e4edc;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.horario:hover {
  background-color: #4e4edc;
  transform: translateY(-5px);
}

.tag {
  display: inline-block;
  background-color: #4e4edc;
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.personal-data,
.purchase-details {
  background-color: #0a1626;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.personal-data h2,
.purchase-details h2 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #00a8ff;
  padding-bottom: 10px;
}

input,
select {
  width: 70%;
  padding: 10px;
  border: 1px solid #334a64;
  border-radius: 5px;
  background-color: #0e2239;
  color: #ffffff;
  font-size: 14px;
}

.btn-continuar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3020be;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}
.btn-continuar:hover {
  background-color: #3020be;
  transform: scale(1.05);
}
.btn-continuar:active {
  background-color: #3020be;
  transform: scale(1);
}
.btn-continuar:focus {
  outline: none;
  box-shadow: 0 0 4px #3020be;
}
@media (max-width: 768px) {
  .btn-continuar {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/*# sourceMappingURL=Horarios.css.map */
