$background-color: #0A2B4D;
$text-color: #ffff;
$highlight-color: #000000;
$hover-color: #1C3D5A;
$border-bottom: #4c52fd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: $text-color;
  text-decoration: none;
  font-size: 14px;
}

.title {
  font-size: 2em;
  margin-bottom: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid $text-color;
  display: inline-block;
}

.movies {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;

  .movie {
    text-align: center; 
    color: $text-color;

    img {
      width: 185px;
      height: 270px;
      border-radius: 8px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.all-movies {
  background-color: $highlight-color;
  color: $text-color;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $hover-color;
    
  }
}

