$background-color: #0A2B4D;
$text-color: #ffff;
$highlight-color: #000000;
$hover-color: #1C3D5A;
$border-bottom: #4c52fd;
$button-color: #007bff; 

$color-fondo: #0c1a33;
$color-titulo: #ffffff;
$color-linea: #4a89dc;
$color-texto: #cccccc;
$color-tarjeta-fondo: #102a4c;
$border-radius: 8px;
$font-size-titulo: 1.5em;
$font-size-pelicula: 1em;
$padding-galeria: 20px;
$gap-galeria: 50px; // Espacio entre tarjetas

// Variables
$primary-color: #0A1C3A;
$text-color: #fff;
$hover-color: #555;
$icon-hover-color: #ddd;
$font-size: 16px;
$icon-font-size: 20px;
$gap-large: 150px;
$gap-medium: 15px;
$header-height: 60px; 
$button-color: #007bff; 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: $text-color;
  text-decoration: none;
  font-size: 14px;
}

.title {
  font-size: 2em;
  margin-bottom: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid $text-color;
  display: inline-block;
}
// Sección de galería
.galeria {
  margin-top: 50px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  

  &__titulo {
    color: $color-titulo;
    font-size: $font-size-titulo;
    margin-bottom: $gap-galeria;
    position: relative;
    z-index: -1;


    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: $color-linea;
      margin: 10px auto 0;
    }
  }
}
.movies {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;

  .movie {
    position: relative; // Para posicionar el botón dentro del div de la película
    text-align: center; 
    color: $text-color;

    img {
      width: 320px;
      height: 270px;
      border-radius: 8px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      text-transform: uppercase;
    }

    .play-icon {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: $button-color;
      color: $text-color;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: lighten($button-color, 15%);
      }
    }
  }
}

.all-movies {
  background-color: $highlight-color;
  color: $text-color;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $hover-color;
  }
}

